<html>

<head>

    <title>{{ title }} - Paul Asadoorian</title>
    <link href="{{ style }}" rel="stylesheet" type="text/css" />
</head>

<body>
    <p>
        <h1>Welcome to Pieface version {{ version }}!</h1>
    </p>

    <p> Active Image Set {{ active }}
        <p>

            Choose your images wisely:
            <form method="post" name="form1" class="form-horizontal">

                {{imageset_form.imageSet}} {{imageset_form.activate}} {{imageset_form.select}} <br>
                <br> {{imageset_form.addSet}}

                <div class="form-group">
                    <p>Resolution:{{imageset_form.resWidth}} X {{imageset_form.resHeight}}</p>
                    <p>Pause Time: {{imageset_form.pauseTime}} seconds</p>
                    <p>Default Image Set: {{imageset_form.isDefault}}</p>
                    <p>{{imageset_form.imageType.label}} {{imageset_form.imageType}}</p>
                </div>

            </form>

            <p> {{ selected }}
                <p>

                    <button type="button">Upload Image</button>
                    <br>

                    <img src="{{ url_for('static',filename='images/download1.jpg')}}" />
                    <img src="../download2.png" alt="Download 2" style="width:100px;height:100px;" />
                    <img src="../download3.jpg" alt="Download 3" style="width:100px;height:100px;" />
                    <br>

                    <p>
                        Tell me, where do you want your inputs to go? I can help with that...<br>
                        <!--<table style="empty-cells:hide; margin-left:auto; margin-right:auto;" border="1" cellpadding="1" cellspacing="1">-->
                        <!--<form method="post">-->
                        <!--<tr>-->
                        <!--<td></td>-->
                        <!--<td>NONE</td>-->
                        <!--<td>IN1</td>-->
                        <!--<td>IN2</td>-->
                        <!--&lt;!&ndash;<td>IN3</td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td>IN4</td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td>IN5</td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td>IN6</td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td>IN7</td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td>IN8</td>&ndash;&gt;-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<td>OUTPUT 1 (PSW TV #1)</td>-->
                        <!--<td><input type="radio" name="output" value="out0-in0" checked="checked"></td>-->
                        <!--<td><input type="radio" name="output" value="out1-in1"></td>-->
                        <!--<td><input type="radio" name="output" value="out1-in2"></td>-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out1" value="out1in3"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out1" value="out1in4"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out1" value="out1in5"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out1" value="out1in6"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out1" value="out1in7"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out1" value="out1in8"></td>&ndash;&gt;-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<td>OUTPUT 2 (PSW TV #2)</td>-->
                        <!--<td><input type="radio" name="output" value="out0-in0" checked="checked"></td>-->
                        <!--<td><input type="radio" name="output" value="out2-in1"></td>-->
                        <!--<td><input type="radio" name="output" value="out2-in2"></td>-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out2" value="out2in3"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out2" value="out2in4"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out2" value="out2in5"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out2" value="out2in6"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out2" value="out2in7"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out2" value="out2in8"></td>&ndash;&gt;-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<td>OUTPUT 3 (Stogie Geeks TV)</td>-->
                        <!--<td><input type="radio" name="output" value="out0-in0" checked="checked"></td>-->
                        <!--<td><input type="radio" name="output" value="out3-in1"></td>-->
                        <!--<td><input type="radio" name="output" value="out3-in2"></td>-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out3" value="out3in3"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out3" value="out3in4"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out3" value="out3in5"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out3" value="out3in6"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out3" value="out3in7"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out3" value="out3in8"></td>&ndash;&gt;-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<td>OUTPUT 4 (News Desk TV)</td>-->
                        <!--<td><input type="radio" name="output" value="out0-in0" checked="checked"></td>-->
                        <!--<td><input type="radio" name="output" value="out4-in1"></td>-->
                        <!--<td><input type="radio" name="output" value="out4-in2"></td>-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out4" value="out4in3"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out4" value="out4in4"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out4" value="out4in5"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out4" value="out4in6"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out4" value="out4in7"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out4" value="out4in8"></td>&ndash;&gt;-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<td>OUTPUT 5 (Studio Monitor Monitor)</td>-->
                        <!--<td><input type="radio" name="output" value="out0-in0" checked="checked"></td>-->
                        <!--<td><input type="radio" name="output" value="out5-in1"></td>-->
                        <!--<td><input type="radio" name="output" value="out5-in2"></td>-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out5" value="out5in3"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out5" value="out5in4"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out5" value="out5in5"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out5" value="out5in6"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out5" value="out5in7"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out5" value="out5in8"></td>&ndash;&gt;-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<td>OUTPUT 6</td>-->
                        <!--<td><input type="radio" name="output" value="out0-in0" checked="checked"></td>-->
                        <!--<td><input type="radio" name="output" value="out6-in1"></td>-->
                        <!--<td><input type="radio" name="output" value="out6-in2"></td>-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out6" value="out6in3"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out6" value="out6in4"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out6" value="out6in5"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out6" value="out6in6"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out6" value="out6in7"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out6" value="out6in8"></td>&ndash;&gt;-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<td>OUTPUT 7</td>-->
                        <!--<td><input type="radio" name="output" value="out0-in0" checked="checked"></td>-->
                        <!--<td><input type="radio" name="output" value="out7-in1"></td>-->
                        <!--<td><input type="radio" name="output" value="out7-in2"></td>-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out7" value="out7in3"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out7" value="out7in4"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out7" value="out7in5"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out7" value="out7in6"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out7" value="out7in7"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out7" value="out7in8"></td>&ndash;&gt;-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<td>OUTPUT 8</td>-->
                        <!--<td><input type="radio" name="output" value="out0-in0" checked="checked"></td>-->
                        <!--<td><input type="radio" name="output" value="out8-in1"></td>-->
                        <!--<td><input type="radio" name="output" value="out8-in2"></td>-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out8" value="out8in3"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out8" value="out8in4"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out8" value="out8in5"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out8" value="out8in6"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out8" value="out8in7"></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><input type="radio" name="out8" value="out8in8"></td>&ndash;&gt;-->
                        <!--</tr>-->
                        <!--<tr>-->
                        <!--<td><input type="submit" value="Submit"></td>-->
                        <!--</tr>-->
                        <!--</form>-->
                        <!--</table>-->

                        <form method="post" name="form2" class="form-horizontal">
                            <p> OUTPUT 1 (PSW TV #1) {{imageset_form.output1}}</p>
                            <p> OUTPUT 2 (PSW TV #2) {{imageset_form.output2}}</p>
                            <p> OUTPUT 3 (Stogie Geeks TV) {{imageset_form.output3}}</p>
                            <p> OUTPUT 4 (News Desk TV) {{imageset_form.output4}}</p>
                            <p> OUTPUT 5 (Studio Monitor Monitor) {{imageset_form.output5}}</p>
                            <p> OUTPUT 6 {{imageset_form.output6}}</p>
                            <p> OUTPUT 7 {{imageset_form.output7}}</p>
                            <p> OUTPUT 8 {{imageset_form.output8}}</p>
                            {{imageset_form.switch}}
                        </form>

                        <p>Status Message:
                            <pre> {{ hdmichange_status }} </pre>
                        </p>
                    </p>
</body>

</html>